{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block headerright %}
    <span class="orange">Acceso</span>&nbsp;<span class="blue">Administrador</span>
{% endblock %}

{% block fos_user_content %}
    <div class="access">
        <h3 class="blue">Bienvenido</h3>
        <div id="formAccess">
            <form class="form-signin" role="form" action="{{ path("fos_user_security_check") }}" method="post">            	
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="inputs">
                    <input class="grey fl" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Introduce tu Mail" autocomplete="off" autofocus/>

                    <input class="grey fr" type="password" id="password" name="_password" placeholder="Introduce tu Password"/>
                </div>
                
                <!--<label for="remember_me" class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans }}
                </label>-->

                <div class="containerButtons">
                    <div class="button">           
                        <input class="buttonBlue" type="submit" id="_submit" name="_submit" value="ENTRAR" />
                    </div>
                </div>
            </form>
        </div>
        {% if error %}
            <div class="orange italic">
                <!--{{ error|trans }}-->
                mail o contraseña incorrecto
            </div>
        {% endif %}        
{% endblock fos_user_content %}


{% block javascripts %}
    {{ parent() }}
    {% if error %}
        <script language="javascript">
            doShake("formAccess");
            changeColor( );
        </script>
    {% endif %}
{% endblock %}
